@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins;
}
::-webkit-scrollbar {
  display: none;
}
* .container {
  border-radius: 20px;
  border: 0px solid #000;
  background: var(
    #252930,
    linear-gradient(180deg, #252930 0%, rgba(37, 41, 48, 0) 100%)
  );
  width: 491px;
  box-shadow: 5px 4px 100px 25px rgba(0, 0, 0, 0.25);
}

.container > form > input {
  padding: 0.5rem;
  border: double 1px transparent;
  border-radius: 40px;
  background-image: linear-gradient(#222529, rgb(25, 30, 24)),
    linear-gradient(to right, rgb(24, 255, 12), rgb(121, 157, 113));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.layout {
  width: 1366px;
  height: 768px;

  display: flex;
}

.grow1 {
  flex-grow: 1;
}
